<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Dndrankanswer</h1>

<f:flashMessages />

<table  class="tx_ltubetoolbox" >
	<tr>
		<th><f:translate key="tx_ltubetoolbox_domain_model_dndrankanswer.answer" /></th>
		<th><f:translate key="tx_ltubetoolbox_domain_model_dndrankanswer.parentid" /></th>
		<th><f:translate key="tx_ltubetoolbox_domain_model_dndrankanswer.parenttable" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{dndrankanswers}" as="dndrankanswer">
		<tr>
			<td><f:link.action action="show" arguments="{dndrankanswer : dndrankanswer}"> {dndrankanswer.answer}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dndrankanswer : dndrankanswer}"> {dndrankanswer.parentid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dndrankanswer : dndrankanswer}"> {dndrankanswer.parenttable}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{dndrankanswer : dndrankanswer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{dndrankanswer : dndrankanswer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Dndrankanswer</f:link.action>
</f:section>