
<table class="tx-learntube-episode" >
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.name" />
		</td>
		<td>
		{episode.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.sdescription" />
		</td>
		<td>
		{episode.sdescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.description" />
		</td>
		<td>
		{episode.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.image" />
		</td>
		<td>
				<f:image src="{episode.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.ialttext" />
		</td>
		<td>
		{episode.ialttext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.edate" />
		</td>
		<td>
		{episode.edate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.detailpage" />
		</td>
		<td>
		{episode.detailpage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.category" />
		</td>
		<td>
		{episode.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_learntubeepisode_domain_model_episode.sent" />
		</td>
		<td>
		{episode.sent}
		</td>
	</tr>
</table>