<f:layout name="Defaultfe" />
<f:flashMessages />
<f:section name="content">

<f:if condition="{settings.show_launch} == 1">
	<p class="bodytext"><f:format.html>{launchtLink}</f:format.html></p>
</f:if>

<f:if condition="{settings.show_history} == 1">
	<h3 class="ltube_scorm_history_h"><f:translate key="learntubescorm.your_report" /></h3>
		<f:if condition="{no_history_result} == 0">
			<p class="bodytext"><f:translate key="learntubescorm.no_history_result_found" /></p>
		</f:if>
	<f:if condition="{no_history_result} == 1">
		<table border="1" cellpadding="2" cellspacing="2" style="margin-top:5px;" class="scorm_launch_history_table">
			<tr><td valign="top" align="left">Completion</td><td valign="top" align="left">Satisfaction</td><td valign="top" align="left">Measure Status</td><td valign="top" align="left">Launch Time</td></tr>
			<f:for each="{allResults}" as="result">
			<tr>
				<td valign="top" align="left">{result.completion}</td>
				<td valign="top" align="left">{result.satisfaction}</td>
				<td valign="top" align="left">{result.measureStatus}</td>
				<td valign="top" align="left">{result.launchTime}</td>
			</tr>
			</f:for>
		</table>
	</f:if>
</f:if>

</f:section>