<f:layout name="Mail" />
<f:section name="main">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>FES Online Academy:: Episode Un-Subscription</title>
</head>
<body>
<p><f:translate key="LLL:EXT:learntube_episode/Resources/Private/Language/locallang.xlf:tx_learntubeepisode_domain_model_category.dear" /> {mail.gender} {mail.fname} {mail.lname},</p>
<p>Your account with FES Online Academy with Email: {mail.email} has been de-acticvated from Episode subscription.</p>
<p><f:translate key="LLL:EXT:learntube_episode/Resources/Private/Language/locallang.xlf:tx_learntubeepisode_domain_model_category.thanks" /></p>
<p>FES Online Academy</p>
</body>
</html>
</f:section>