
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Subscription.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="main">
<f:flashMessages />
<f:form method="post" action="subpost" name="newSubscription">
        <label for="Anrede">Anrede</label><br />
        <f:form.radio property="gender" value="m" checked="checked" /> Herr 
		<f:form.radio property="gender" value="f" /> Frau<br />
        <label for="Vorname">Vorname*</label><br />
        <f:form.textfield property="fname" required="1" value="{fname}" /><br />
        <label for="Nachname">Nachname*</label><br />
        <f:form.textfield property="lname" required="1" value="{lname}" /><br />
        <label for="Email">Email*</label><br />
        <f:form.textfield property="email" required="1" value="{email}" /><br />
		<f:render partial="CaptchaElement" /><br />
        <f:form.submit class="submit" value="Wissenssnacks abonnieren" />
</f:form>
</f:section>
</div>