
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for PdfGenerate</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_ltubeiffuserpdf" >
	<tr>
		<th><f:translate key="tx_ltubeiffuserpdf_domain_model_pdfgenerate.pdftitle" /></th>
		<th><f:translate key="tx_ltubeiffuserpdf_domain_model_pdfgenerate.pdffile" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{pdfGenerates}" as="pdfGenerate">
		<tr>
			<td><f:link.action action="show" arguments="{pdfGenerate : pdfGenerate}"> {pdfGenerate.pdftitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{pdfGenerate : pdfGenerate}"> {pdfGenerate.pdffile.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{pdfGenerate : pdfGenerate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{pdfGenerate : pdfGenerate}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New PdfGenerate</f:link.action>
</f:section>